name: CI

on:
  push:
    branches: main
  pull_request:
    branches: main
  workflow_dispatch:

jobs:
  unit-tests-backend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'
          cache-dependency-path: bugtracker-backend/go.sum
      
      - name: run unit tests backend
        working-directory: bugtracker-backend
        run: |
          go test ./... -v


  unit-tests-frontend:
    needs: unit-tests-backend
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      
      - name: Set up Node.js
        uses: actions/setup-node@v5
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: bugtracker-frontend/package-lock.json

      - name: run unit tests frontend
        working-directory: bugtracker-frontend
        run: |
          npm ci
          npm test
      
      - name: publish frontend test results
        uses: dorny/test-reporter@v2
        if: always()
        with:
          name: Frontend unit tests report
          path: bugtracker-frontend/test-results.xml
          reporter: junit
